@page
@model TicketTrackingSystemApp.Pages.Tickets.WaitingForAssigmentTicketModel
@{
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />


<form method="post">
    <table border="1" class="w3-table w3-red" width="100%">
        <thead>
            <tr>
                <th>Subject </th>
                <th>Description </th>
                <th>Difficulty Level </th>
                <th>Rank (Priority)</th>
                <th>Assign</th>
            </tr>
        </thead>
        <tbody>


                @for (int i = 0; i < Model.TicketInput.Count(); i++)
                {



                @if (Model.TicketInput[i].TicketStatus == "WaitingForAssigment")
                {
                    <tr>
                        <td>
                            @Model.TicketInput[i].Subject

                        </td>
                        <td>
                            @Model.TicketInput[i].Description

                        </td>
                        <td>
                            @Model.TicketInput[i].LevelOfDifficulty

                        </td>
                        <td>
                            @Model.TicketInput[i].Priority

                        </td>
                        <td>
                            <select asp-for="selectedEmployeeId" style="width:350px;" w3-input w3-border w3-sand" asp-items="Model.options"></select>
                          

                        </td>
                        <td>
                            

                            <input style="float:right;" type="submit" asp-route-id="@Model.TicketInput[i].Id"  value="Employee" class="w3-button w3-circle w3-teal" asp-page-handler="Save"  />

                        </td>
                    </tr>
                    }
                }

            </tbody>
    </table>
</form>
